@import '../../styles/variables.scss';

.btn {
  display: flex;
  align-items: center;
  padding: 10px 29px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  border-radius: 5px;
  background-color: $primary-background-color;
  color: $light-background;
  cursor: pointer;

  transition: 300ms;
}

.btn span {
  margin-left: 4px;
}

// .btn--primary-form {
//   padding: 8px 285px;
// }

.btn--primary-form:hover,
.btn--primary:hover {
  background-color: $primary-background-color-hover;
}

.btn--secondary-green,
.btn--secondary-blue {
  border: 1px solid white;
}

.btn--secondary-green:hover {
  color: $primary-background-color;
  background-color: $light-background;
}

.btn--secondary-blue {
  background-color: $secondary-background-color-blue;
}

.btn--secondary-blue:hover {
  color: $secondary-background-color-blue;
  background-color: $light-background;
}
