@import '../../styles/variables.scss';

.footer__icon_item:not(:last-child) {
  margin-right: 25px;
}

.footer__svg,
.team__svg {
  fill: $light-background;

  svg {
    transition: 300ms;

    &:hover {
      fill: $primary-background-color-hover;
    }
  }
}

.team__svg {
  svg:hover {
    fill: $social-hover-color;
  }
}
