@import '../../styles/variables.scss';

.hero {
  position: relative;
  max-width: 1360px;
  min-height: 768px;
  padding: 0;

  background-color: $mat-color;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/images/home/showcase.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hearo__title_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  margin-bottom: 24px;

  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;

  color: $secondary-color;
}

.hero__text {
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 22px;
  line-height: 1.67;

  color: $secondary-color;
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 100%;
    min-height: 533px;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(../../assets/images/home/showcase.webp);
  }

  .hearo__title_wrapper {
    width: 241px;
    height: 132px;
    top: 35%;
    text-align: center;
  }

  .hero__title {
    margin-bottom: 24px;

    font-weight: 300;
    font-size: 52px;
    line-height: 1.27;

    color: $secondary-color;
  }

  .hero__text {
    font-size: 22px;
    line-height: 1.67;
  }
}
