@import '../../styles/variables.scss';

.contact {
  // перееместить в секцию
  padding-top: 20px;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 768px) and (max-width: 1359px) {
    padding-bottom: 40px;
  }
}

.contact__content {
  padding: 40px 20px 40px 20px;

  background-color: $secondary-background-color-lightGray;

  @media screen and (min-width: 768px) {
    width: 100%;
    padding-right: 32px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1360px) {
    width: 690px;
    padding: 80px 64px 80px 20px;
  }
}
