@import '../../styles/variables.scss';

.footer {
  text-align: center;

  padding: 20px 0;

  background: $primary-color;
}

.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  color: $light-background;
}

.footer__icon_list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 6px;
}
