.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal__container {
  position: relative;
  display: flex;

  // max-width: calc(100vw - 48px);
  // max-height: calc(100vh - 24px);
}
.modal__btn_left,
.modal__btn_right {
  position: absolute;
  top: 48%;
  left: 0;

  padding: 8px 25px;
  background: none;
  border: none;

  cursor: pointer;

  color: white;
}

.modal__btn_right {
  left: 86%;
}
