.team__item {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.team__name {
  font-size: 25px;
  line-height: 1.27;

  margin-bottom: 12px;
}

.team__plase {
  font-size: 18px;
  line-height: 1.56;
}

.team__item_img {
  margin-bottom: 20px;
}

.team__overlay_box {
  position: absolute;
  content: '';
  width: 100%;
  height: 75%;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 300ms ease;
}

.team__overlay_box:hover {
  opacity: 1;
}

.team__icon_list {
  display: flex;
  align-items: center;

  padding: 125px 103px;
}
